@use '../abstracts/' as *;

.button {
  display: inline-flex;
  border: 0;
  padding: $button-padding-y $button-padding-x;
  font-weight: fw(bold);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  transition: 275ms ease;
  cursor: pointer;

  &[data-style='primary'] {
    background-color: clr(primary, 400);
    color: clr(neutral, 900);
  }

  &[data-style='outline'] {
    --outline-size: #{$button-outline-size};

    background-color: transparent;
    outline: var(--outline-size) solid clr(neutral, 100);
    outline-offset: calc(var(--outline-size) * -1);
    color: clr(neutral, 100);
  }

  &:is(:hover, :focus) {
    background-color: clr(neutral, 100);
    color: clr(neutral, 900);
  }
}
