@use '../abstracts' as *;

body {
  font-family: $ff-default;
  font-size: fs(400);
  font-weight: fw(regular);
  color: clr(neutral, 400);
  line-height: 1.5;
  background-color: clr(neutral, 100);
}
